# *** Parameters for selecting different types of target function ***
# icase, itargettype, iweight
0 0 0
#
# *** Number of iterations in Lanczos bidiagonalization   ***
# N_iter
25
#
# *** Should factorization and targets be read or written? ***
#irbidiag, iwrbidiag, irdtranstarget, iwrtranstarget
0 0 0 0
#
# *** Parameters for data error-covariance matrix  ***
# icovar bandwidth
0 20
# covarfile
dummy
#
# *** What to compute:  ***
# icalcsol, icalcavker, icalccorr, icalccoeff, iwrtarget
1 1 0 0 0
#
# *** Parameters for scaling target width according to sound speed ***
# irscal, xrscal
1 0.7
# *** amdl file for setting sound speed ***
../modeldata/amdl.l5bi.d.15
#
# *** Input data files ***
# Kernel input
Kernels/As.small.10151
# Mesh file
Kernels/rthet.small.10151
# Data input
Splittings/mt1.252_000.2d.small
#
# *** Output files ***
# Solution output
Inversion/sol.small
# Averaging kernel output
Inversion/avker.small
# Correlation output
Inversion/corr.small
# Coefficient output
Inversion/coeff.small
#
# *** Factorization input/output ***
# Bidiagonal factorization
Inversion/UBV.small
# Transformed targets
Inversion/XI.small
# Target functions
Inversion/target.small
#
# *** Target positions and trade-off parameters ***
# itargt
1
# deltax, deltat, trdoff
0.060 0.100 3.00E+00
# x1, x2, theta1, theta2, nxtar, nttar
-0.1, 1.1, -0.1, 1.6, 1, 1
