# itype, iadd
1 1
# iselect, isetfrq
0 1
# lmin,lmax,nmin,nmax,fmin,fmax
1 100 0 1000 2500 3500
# name of file to read l,n from
set1.lst
# nskip, nrsmsh
# 2, 0      For l3b.86
4, 0   For l5bi.d.15
# model file
qqq
# number of files to read eigenfunctions from
1
#names of those files
../Modeldata/amde.1.little_endian
#../Modeldata/amde.1.big_endian
