# name of file to control reading of eigenfunctions
efunc2d.cfg
# number of meshpoints to skip in r for setting up f
6
# number of points in x for setting up the plm's
1001
# number of points to skip in x for setting up g
20
# irdf, iwrf, irdg, iwrg
0 0 0 0
